{% extends 'root.jinja' %}

{% block head %}
<title>Fun with Flask 🧪</title>
{% endblock %}

{% block body %}
<form class="row mb-4" action="/" method="POST">
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" name="content" class="form-control" id="todo-input" aria-describedby="todo-item-help" placeholder="Add your todo..." />
      <small id="todo-item-help" class="form-text text-muted">Enter the item that you want to add to your to-do list.</small>
    </div>
  </div>
  <div class="col-auto">
      <button type="submit" class="btn btn-success">Add To-do item</button>
  </div>
</form>
{% if todos|length > 1 %}
  <div class="row">
    <div class="col-12">
      <table class="table">
        <tr>
          <th>To-do Items</th>
          <th>Actions</td>
        </tr>
        {% for todo in todos %}
          <tr>
            <td>{{ todo.content }}</td>
            <td>
              <a href="/update/{{ todo.id }}" class="btn border-0 btn-outline-info">Edit <span class="fa fa-edit"></span></a>
              <a href="/delete/{{ todo.id }}" class="btn border-0 btn-outline-danger">Delete <span class="fa fa-trash"></span></a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endif %}
{% endblock %}
